doctype html
html(lang="en" class="no-js" ng-app="copreview")
  
  head
    include _partials/head.jade
  
  body(ng-controller="MainController as MainCtrl")
    include _partials/header.jade

    div(ng-include="'/views/reportForm.html'" id="formView")
    
    main(role="main" id="main" class="max-container")
    
      block content
        div(ui-view)

    footer(role="footer" id="footer" class="container")
  
  block footer_scripts