@import "compass/css3";
@import "breakpoint";

$bodyTopPadding: 61px;

html, body {
  width:100%;
  height:100%;
}

body {
  padding-top:$bodyTopPadding;
}

.angular-google-map-container { 
  min-height:600px;
  height: 100%;
  width:100%; 
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

#reportForm {
  position:fixed;
  left:0;
  top:$bodyTopPadding;
  right:0;
  bottom:0;
  background: rgba(255, 255, 255, .8);
  padding:20px;
}

.glyphicon-star, .glyphicon-star-empty {
  color:gold;
  font-size:22px;
}